# Python / Virtual Environment
venv/
.venv/
dataset/venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log
*.tmp

# Raw datasets
dataset/*.csv
dataset/*.pcap
dataset/*.pcapng

# Processed data
dataset/processed/

# NumPy files
*.npy
*.npz

# Trained models
dataset/models/
*.pkl
*.joblib
*.keras
*.h5

# Final results
!dataset/results/
!dataset/results/*.csv
!dataset/results/*.json
!dataset/results/*.png

# Figures
!dataset/figures/
!dataset/figures/*.png
